@keyframes upward {
	0% {
		opacity: 0%;
		transform: translateY(3rem)	;
		-webkit-transform: translateY(3rem)	;
		-moz-transform: translateY(3rem)	;
		-ms-transform: translateY(3rem)	;
		-o-transform: translateY(3rem)	;
}
	100% {
		opacity: 100%;
		transform: translateY(0rem)	;
		-webkit-transform: translateY(0rem)	;
		-moz-transform: translateY(0rem)	;
		-ms-transform: translateY(0rem)	;
		-o-transform: translateY(0rem)	;
}
}
@keyframes downward {
	0% {
		opacity: 0%;
		transform: translateY(-3rem)	;
		-webkit-transform: translateY(-3rem)	;
		-moz-transform: translateY(-3rem)	;
		-ms-transform: translateY(-3rem)	;
		-o-transform: translateY(-3rem)	;
}
	100% {
		opacity: 100%;
		transform: translateY(0rem);
		-webkit-transform: translateY(0rem);
		-moz-transform: translateY(0rem);
		-ms-transform: translateY(0rem);
		-o-transform: translateY(0rem);
}
}
#animateDownward {
	animation: downward 1s ease-in-out 0.5s 1 forwards;
	-webkit-animation: downward 1s ease-in-out 0.5s 1 forwards;
}
#animateUpward {
	animation: upward 1s ease-in-out 0.5s 1 forwards;
	-webkit-animation: upward 1s ease-in-out 0.5s 1 forwards;
}
