@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-poppins;
	}
}
@layer utilities {
	.logo-font {
		@apply font-raleway font-semibold;
	}
	
}
.z-index-transition {
	z-index: -9999;
	transition: z-index 2s;
	-webkit-transition: z-index 2s;
	-moz-transition: z-index 2s;
	-ms-transition: z-index 2s;
	-o-transition: z-index 2s;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {  
   opacity: 1 !important;
}
.react-datepicker-popper {
    z-index: 9999 !important;
}
.react-datepicker__input-container input{
	padding: 0rem 0.5rem;
	width: 100px;
}